
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

td button:hover {
  background-color: #cc0000;
}


form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
 
}

form label {
  display: block;
  margin-bottom: 20px;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
  width: calc(100% - 20px);
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ccc;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  left: 100px;
  
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

form button[type="submit"]:focus {
  outline: none;
}
